$corDeFundo-light: #ECEFF1;
$corNavbar-light: #ebebeb;
$corTexto-light: #131313;

$tamanhoFonte: 18px;
$corHover: #5bcf2d;
$fontePrincipal: 'Get Schwifty', cursive;

// Variáveis de estilo geral
$primary-color: #115916;
$secondary-color: #41BF49;
$thirdy-color: rgb(184, 241, 182);
$fourth-color: #1E261F;
$fourth-color-second: #5f7a63;
$fifth-color: #D4D955;

$error-color: rgb(252, 33, 33)