body {
    background-image: url("/assets/img/FUNDO_2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

main {
    background-color: #252525;
}

#button-character {
    animation: estica 1.2s alternate infinite;
}

#nav-icon {
    animation: loading 1.5s linear infinite;
}

footer {
    margin-top: 55%;
    background-color: rgb(45, 44, 51);
}

@keyframes estica {
    0% {
        width: 100%;
    }
    100% {
        width: 50%;
    }
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.page-title {
    background: linear-gradient(45deg, #7e63b7, #41c269, #ec6eb0, #7e63b7);
    animation: degrade 20s linear infinite alternate;
    animation: text 2s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes degrade {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position: 400%;
    }
}

@keyframes text {
    0% {
        color: black;
        margin-bottom: -20px;
    }

    30% {
        letter-spacing: 15px;
        margin-bottom: -20px;
    }

    85% {
        letter-spacing: 8px;
        margin-bottom: -20px;
    }
}
